*{
    padding: 0;
    margin: 0;
    color:white
}
html{
    height: 100%;
}


.fo{
    min-height: 100%;
    margin: 0 auto -50px;
}


#profilkep{
    background-color: rgb(50,50,50);
    border-radius: 50px;
}
#logo
{
    background-color: rgb(50,50,50);
    border-radius: 50px;
    width:35px;
    height:40px;
}
#logo:hover
{
    background-color: rgb(50,50,50);
    border-radius: 0px;
    transform: scale(1.2);
}

#leftimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#rightimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#balkep{
    position: relative;
}
#jobbkep{
    position: relative;
    
}
.jobbkepanimacio{
    animation: jobbkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
.balkepanimacio
{
    animation: balkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#szoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size:24px
}
.footer,.push{
    height: 50px;
}
.push{
    margin-top: 2%;
}

#jobbszoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#profilkep:hover{
    transform: scale(1.2); 
}

.pontok:hover,.komment:hover,.listak:hover,.regisztracio:hover{
    background-color:rgb(1,194,154);
    border-radius: 10px;
    transform: scale(1.2);
}

#leftimg:hover,#rightimg:hover{
    transform: scale(1.1);
}
img{
    z-index: 1;
}
.hozzaszolas{
    background-image: linear-gradient(#d4c5c5, #01C29A);
    background-repeat: no-repeat;
    background-size: cover;
}
.fhVelemeny{
    color:white;
    font-size: 35px;
    font-weight: 700;
}
#balkep {animation-timing-function: ease;}
#jobbkep {animation-timing-function: ease;}
#balszoveg{animation-timing-function: ease;}


body{
    
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(rgb(1,194,154),rgb(33,37,41))!important;
    background-size: cover;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}




.progress-container {
    margin-bottom: 0 !important;
    width: 100%;
    height: 5px;
    background: rgb(33,37,41);
    padding-bottom: 0%;
    box-shadow: 1px 3px 2px 1px rgb(50,50,50);
}
.navbar{
    padding-bottom: 0;
    
}
.progress-bar {
    height: 8px;
    background: rgb(1,194,154);
    width: 0%;
}




@keyframes jobbkepanim {
    0%   { opacity: 0; }
    20%   { opacity: 0; }
  50% { opacity: 1; }
    from {right: -80%;}
    to {right: -15%;}
}
@keyframes balkepanim {
    0%   { opacity: 0; }
    20%   { opacity: 0; }
  50% { opacity: 1; }
    from {left: -80%;}
    to {left: -15%;}
}


