*{
    padding: 0;
    margin: 0;
    color:white
}
html{
    height: 100%;
}
.fo{
    min-height: 100%;
    margin: 0 auto -50px;
}


#profilkep{
    border-radius: 50px;
}
#logo{
    background-color: rgb(50,50,50);
    border-radius: 50px;
    width:35px;
    height:40px;
}
#logo:hover{
    background-color: rgb(50,50,50);
    border-radius: 0px;
    transform: scale(1.2);
}
#leftimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#rightimg{
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#balkep{
    position: relative;
}
#jobbkep{
    position: relative; 
}
.jobbkepanimacio{
    animation: jobbkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
.balkepanimacio{
    animation: balkepanim 5s ;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}
#szoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size:24px
}
.footer,.push{
    height: 50px;
}
.push{
    margin-top: 2%;
}
#jobbszoveg{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#profilkep:hover{
    transform: scale(1.2); 
}
.navbar-brand{
    color:white;
    font-weight: 550;
    text-shadow: 2px 2px 10px #000000;
    font-size:22px;
   
    font-family: sans-serif;
}
.pontok,.komment,.listak,.regisztracio,#logo,.bejelentkezesgomb,#profilkep,#udv{
    transition: all 0.3s;
   
}
.pontok:hover,.komment:hover,.listak:hover,.regisztracio:hover,.bejelentkezesgomb:hover,#udv:hover{
    animation: borderteszt 1s ease 1 normal both;
    color:white;
    transform: translateY(-10px);
    text-shadow:0 0 7px #ffffff;
}
#reggomb{
    transition: all 0.3s;
}
#reggomb:hover{
    transform: translateY(-10px);
    background-color: rgb(74, 201, 74);
    color:white;
    text-shadow: 0 0 7px white;
    border:0
}

#leftimg:hover,#rightimg:hover{
    transform: scale(1.1);
}
img{
    z-index: 1;
}
.hozzaszolas{
    background-image: linear-gradient(#d4c5c5, #01C29A);
    background-repeat: no-repeat;
    background-size: cover;
}
.fhVelemeny{
    color:white;
    font-size: 35px;
    font-weight: 700;
}
.kommentek{
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.kommentek.kommentanim{
    opacity: 1;
    transform: none;
    visibility: visible;
}

#balkep {animation-timing-function: ease;}
#jobbkep {animation-timing-function: ease;}
#balszoveg{animation-timing-function: ease;}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

}

.fo{
    background-image: linear-gradient(rgb(1,194,154),rgb(33,37,41))!important;
    background-size: cover;
 
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar{
    padding-bottom: 0;
}


.nav{
    animation: hatter 0.3s ease-in  1 normal both;
}
.navvissza{
    animation: hattervissza 0.3s ease  1 normal both;
}
.fhnevszin{
    animation: szin 0.3s ease-in 1s 1 normal both;
}
.fhnevszinvissza{
    animation: szinvissza 0.3s ease-in 1s 1 normal both;
}
.velemeny{
    background-image: linear-gradient(rgb(36, 39, 43),rgb(1,194,154))!important;
}
.customcimsor{
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
p{
    font-weight: 600;
}
hr{
  width:50%;
  text-align:left;
  margin-left:0;
  color:black;
  background-color:gray;
}
.gombok{
    border: rgb(1,194, 154) 2px solid;
    border-radius: 10px; 
    padding: 5px; 
    background-color: rgb(50,50,50); 
    color: white;
    text-decoration:none;
    font-size: 20px;
}




@keyframes borderteszt {
    from{
        border-bottom: 0;
    }
    to{
        border-bottom: #ffffff;
        border-bottom-width: 2px;
        border-bottom-style: groove;
    }
    
}

@keyframes szin{
    0%{
        color:rgb(18,18,18)
    }
    100%{
        color:rgb(1,194,154)
    }
}
@keyframes szinvissza{
    0%{
        color:rgb(1,194,154)
       
    }
    100%{
        color:rgb(18,18,18)
    }
}

@keyframes hatter {
    0%{

    }
    100%{
        background-color: rgb(33,37,41);
    }
    
}
@keyframes hattervissza {
    0%{
        background-color: rgb(33,37,41);
    }
    100%{
        
    }
    
}


@keyframes jobbkepanim {
    0%   { opacity: 0; }
    20%   { opacity: 0; }
  50% { opacity: 1; }
    from {right: -80%;}
    to {right: -15%;}
}
@keyframes balkepanim {
    0%   { opacity: 0; }
    20%   { opacity: 0; }
  50% { opacity: 1; }
    from {left: -80%;}
    to {left: -15%;}
}


