*{
    padding: 0;
    margin: 0;
    color:white;
    
}
body{
   max-width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
   
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.felsorolaselemek{
    font-size: 20px;
    font-weight: 600;
}
.kozep{
 position: relative;
 margin-left: auto;
 margin-right: auto;
}
.gomb{
    border:0;
    width: 8rem;
    height: 2rem;
    border-radius: 15px;
    transition: all 0.3s;
    font-weight: 600;
    background-color: white;
    color:rgb(1,194,154)
}
.gomb:hover{
    transform: scale(1.1);
    color:white;
    background-color: rgb(1,194,154);
    box-shadow: 8px 8px 6px #000000;
}
#alerthelye{
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
   
    background-size: cover;
}
.sticky {
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 1;
    animation: teszt 1s ease  1 normal both;
}


@keyframes teszt {
   0%,20%
    {
    transform: translateY(10px);
   }
   
   50%,70%{
    transform: translateY(-15px);
   }
   100%{
    transform: translateY(0px);
   }
    
}